/*html, body {
  color: white;
  background-color: grey;
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  */
  
  body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  
  background-image: url('images/portfolio.jpg');
  background-size: cover;
  color: #ffffff;
  height: 470px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

article p{
	padding: 5px 100px 15px 100px;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
  align-items: center;
}

.col-sm-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  text-shadow: none;
}

.btn.btn-primary:hover {
  color: black;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}


/*

h1 {
  font-size: 48px;
}

p {
  max-width: 65%;
  min-width: 500px;
}

h2 {
  text-align: center;
  font-size: 2.6rem;
}

div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

video {
  background-color: #000000;
  border: 2px solid black;
}

.container {
  display: flex;
}

.main {
  padding-left: 30px;
  min-width: 75%;
}

.nav {
  background-color: #FFEE00;
  max-width: 25%;
  min-width: 140px;
  flex: 1;
}

.nav h1 {
  padding-left: 20px;
}

*/


